streamlit
streamlit-option-menu
streamlit-ace
black
autopep8
pyflakes
pandas
fpdf
Pillow
requests
cryptography
plotly
cloudinary
setuptools
python-minifier==2.10.0
openpyxl
webdriver-manager
selenium
yt-dlp
